:root {
    --green: #18DC53;
    --purple: #7209B7;
    --yellow: #FFD23F;
    --red: #C53041;
    --hero-background: #18dc53c0;
    font-size: 1.5rem;
    padding: .5rem;
    box-sizing: border-box;
}

header {
    background-color: white;
}

.active {
    text-decoration: underline;
    color: var(--purple);
}

nav {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--purple);
    display: inline;
    width: 25%;
}

.ham-menu {
    list-style: none;
    display: none;
}

.ham-menu li a {
    text-decoration: none;
    color: var(--purple);
    padding: .5rem;
}

.ham-menu.open {
    display: flex;
    flex-direction: column;
}

.menu-close, .menu-open {
    display: none;
    width: 50px;
    height: 50px;
}

.menu-close.open, .menu-open.open {
    display: block;
}

#order-button {
    padding: 1rem;
    position: absolute;
    right: 0;
    margin-top: .2rem;
    background-color: var(--yellow);
    margin-right: 1rem;
    width: 5rem;
}

.hero {
    position: relative;
    background-color: white;
}

.hero img {
    width: 100%;
    opacity: .5;
    margin-top: .5rem;
}

#home-title {
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: var(--hero-background);
    padding: 1rem;
    color: var(--purple);
    
}

body {
    background-color: var(--green);
    color: var(--purple);
    text-align: center;
}

main {
    display: grid;
}

#icon {
    width: 64px;
}

input, textarea {
    display: block;
    padding: .5rem;
    width: 15rem;
}

label {
    display: block;
    padding: .5rem;
}

.order-form {
    text-align: left;
}

.button {
    width: 5rem;
    height: 3rem;
    padding: .5rem;
}

.about-page img {
    padding: 1rem;
    justify-self: center;
}

iframe {
    justify-self: center;
}

.attributions-page a {
    padding: .5rem;
}