@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

:root {
    --blue: #1c2fd9;
    --lightblue: #4ee7f9;
    --yellow: #f2f3ae;
    --gray: #707078;
    --shadow: #70707877;
    --heading-font: 'Playfair Display', Arial, sans-serif;
    --paragraph-font: 'Raleway', Arial, sans-serif;
    --background-color: #1c2fd9;
    --text-color: #f2f3ae;
    --nav-background-color: #4ee7f9;
    --nav-text-color: black;
    --nav-hover-color: #f2f3ae;
    --nav-text-hover-color: #1c2fd9;
    --call-to-action-background: #f2f3ae;
    --call-to-action-text: #1c2fd9;
    --logo-background-color: #1c2fd9;
    --dark-button-background: black;
    font-size: 1.5rem;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--paragraph-font);
}

#dark-mode {
    background-color: var(--dark-button-background);
    color: var(--text-color);
    position: absolute;
    margin-left: 80%;
    margin-top: .5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    border: 2px solid var(--lightblue);
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 10px 10px var(--shadow);
    max-width: 88%;
}

.hero {
    position: relative;
    z-index: -1;
    margin: .5rem;
}

.hero-img {
    width: 100%;
}

.call-to-action {
    position: absolute;
    right: 25%;
    top: 13%;
    width: 13rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--call-to-action-background);
    color: var(--call-to-action-text);
}

.size {
    position: absolute;
    background-color: var(--background-color);
    left: 8%;
    padding: .3rem;
}

#lg {
    top: 25%;
    font-size: .5rem;
}

#md {
    top: 30%;
    font-size: .5rem;
}

#sm {
    top: 35%;
    font-size: 1.5rem;
}

header {
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: var(--heading-font);
    box-sizing: border-box;
}

#top-logo {
    grid-column: 1/2;
    max-height: 100px;
    align-self: center;
    justify-self: center;
    background-color: var(--logo-background-color);
    padding: .5rem;
    margin: .5rem;
}

header h1 {
    text-align: center;
    grid-column: 2/3;
}

nav {
    background-color: var(--nav-background-color);
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: .5rem;
}

.nav {
    list-style: none;
    display: none;
}

.nav.open {
    display: flex;
    flex-direction: column;
}

.nav li a {
    color: var(--nav-text-color);
    text-decoration: none;
    padding: .5rem;
}

.nav li {
    box-sizing: border-box;
    padding: .5rem;
}

.nav li a:hover, .nav li a.active {
    background-color: var(--nav-hover-color);
    color: var(--nav-text-hover-color);
}

.upcoming {
    text-align: center;
}

.upcoming img {
    width: 300px;
}

.days {
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow: none;
}

.days div {
    border-bottom: 2px solid var(--lightblue);
    margin: .2rem;
}

.days div img {
    width: 150px;
}

.calendar h2 {
    text-align: center;
}

.weather {
    text-align: center;
}

.weather img {
    width: 100px;
}

.spotlight h2 {
    text-align: center;
}

.spotlights p {
    border-bottom: 2px solid var(--lightblue);
    margin: .5rem;
    padding-bottom: .5rem;
}

.spotlight {
    display: flex;
    flex-direction: column;
}

.spotlights {
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}

#spotlight1, #spotlight2, #spotlight3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.spotlights div img {
    grid-row: 1/3;
    width: 150px;
}

footer {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    text-align: center;
}

#footer-logo {
    grid-column: 1/2;
    max-height: 100px;
    align-self: center;
    justify-self: center;
    background-color: var(--logo-background-color);
    padding: .5rem;
}

#footer-name {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

#footer-address {
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
}

#class-deets {
    grid-column: 1/4;
    grid-row: 2/3;
}

#lastModified {
    grid-column: 1/4;
    grid-row: 3/4;
}

.menu-close, .menu-open {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 92%;
    top: 8rem;
}

.menu-close.open, .menu-open.open {
    display: block;
    background-color: var(--background-color);
}