@media screen and (min-width: 1000px){
    #dark-mode {
        margin-left: 90%;
    }

    .days {
        flex-direction: row;
    }

    .spotlights {
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 2rem auto;
    }

    .nav {
        flex-direction: row;
        justify-content: space-around;
    }

    .call-to-action {
        right: 35%;
    }

    #spotlight1 {
        grid-column: 1/2;
    }
    
    #spotlight2{
        grid-column: 2/3;
        grid-row: 1/5;
    }
    
    #spotlight3{
        grid-column: 3/4;
    }

    #spotlight1 img, #spotlight2 img, #spotlight3 img {
        grid-row: 1/2;
    }

    #spotlight1 h3, #spotlight2 h3, #spotlight3 h3 {
        grid-row: 3/4;
        padding-top: .5rem;
    }
    
    #spotlight1 p, #spotlight2 p, #spotlight3 p {
        grid-row: 4/5;
        margin-top: 0;
    }
}