@media screen and (min-width: 700px) {
    .home-page {
        grid-template-columns: 1fr 1fr;
    }
    
    .days {
        flex-direction: column;
    }

    .nav {
        display: flex;
    }

    .menu-open, .menu-close, .menu-open.open {
        display: none;
    }

    #spotlight1 h3, #spotlight2 h3, #spotlight3 h3, #spotlight1 p, #spotlight2 p, #spotlight3 p {
        padding-left: .5rem;
        margin-top: 0;
    }

    .hero h2::before {
        content: "Medium ";
    }

    .discover-page {
        grid-template-columns: 1fr 2fr;
    }

    .welcome {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .demographics {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .events {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .photos {
        grid-column: 2/3;
        grid-row: 1/5;
    }

    .photos div img:hover {
        transform: scale(1.1);
    }

    .form-input input, textarea{
        width: 20rem;
    }
}