@media screen and (min-width: 800px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    
    .days {
        flex-direction: column;
    }

    .nav {
        display: flex;
    }

    .menu-open, .menu-close, .menu-open.open {
        display: none;
    }

    #spotlight1 h3, #spotlight2 h3, #spotlight3 h3, #spotlight1 p, #spotlight2 p, #spotlight3 p {
        padding-left: .5rem;
        margin-top: 0;
    }

    #lg {
        top: 25%;
        font-size: .5rem;
    }
    
    #md {
        top: 30%;
        font-size: 2rem;
    }
    
    #sm {
        top: 50%;
        font-size: .5rem;
    }
}